page-register {
    ion-content {
      background-image: linear-gradient(
        to bottom right,
        map-get($colors, primary),
        map-get($colors, secondary)
      );
    }
    .container {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .box {
      background: white;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      margin: 20px;
      padding: 10px;
    }
    ion-datetime {
      width: 100%;
      padding-left: 9px !important;
    }
  }