<!--
  Generated template for the MainQuestPelatihPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    
  
  </ion-header>
  
  
  <ion-content>
    <div *ngIf="!rolevalid">
      <div class="card-11" *ngFor="let list of questlist">
        <div class="list-1 card-1">
            <h2>
                {{list.gaya_renang_jarak}}m {{list.gaya_renang_nama}}
            </h2>
            <h3>Target Waktu: {{list.quest_waktu_target}}</h3>
            <div class="rowed">
              <div>
                <p>Reward Point : <span class="small-font">{{list.point}}</span></p>
              </div>
              <div>
                <p>Reward EXP : <span class="small-font">{{list.exp}}</span></p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div *ngIf="!rolevalid">
      <div class="card-11" *ngFor="let list of doneQuestList">
        <div class="list-1 card-2">
            <h2>
                {{list.gaya_renang_jarak}}m {{list.gaya_renang_nama}}
            </h2>
            <h3>Target Waktu: {{list.quest_waktu_target}}</h3>
            <div class="rowed">
              <div>
                <p>Reward Point : <span class="small-font">{{list.point}}</span></p>
              </div>
              <div>
                <p>Reward EXP : <span class="small-font">{{list.exp}}</span></p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div *ngIf="rolevalid">
        <div class="card" *ngFor="let atlet of userlist index as i">
          <div class="list" (click)="infoatlet(atlet.id)">
            <div class="nama-container" style="flex:0.5">
              <div class="rank">
                {{i+1}}
              </div>
            </div>
            <div class="nama-container" style="flex:3">
              <div class="nama">
                {{atlet.nama}}
              </div>
            </div>
            <div class="centering" style="flex:3">
              <button ion-button icon-start clear item-end>
                <ion-icon name="list-box"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

        <button outline round ion-button color="primary" block navPop>Back</button>
  </ion-content>
