page-home {
    ion-content {
      background-image: linear-gradient(
        to bottom right,
        map-get($colors, primary),
        map-get($colors, secondary)
      );
    }
  
    .container {
      min-height: 100%;
      vertical-align: middle;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .box {
      background: white;
      border-radius: 20px;
      padding: 50px;
    }
}