page-menu-pelatih {
    .container {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .container > .cell-row {
      flex: 1;
      display: flex;
    }
    .cell-row > div {
      flex: 1;
      flex-grow: 1;
      color: #fff;
  
      /* Flex for these containers (cells) */
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    ion-col {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    ion-label {
      font-size: 24px;
    }
  
    .cell-1 {
      background-color: #73a7f9;
    }
    .cell-2 {
      background-color: #8cb9fa;
    }
    .cell-3 {
      background-color: #a0c5fa;
    }
    .cell-4 {
      background-color: #0984e3;
    }
    .cell-5 {
      background-color: #0984e3;
    }
    .cell-6 {
      background-color: #8cb9fa;
    }
  }