<!--
  Generated template for the RewardAtletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reward</ion-title>

    <ion-buttons *ngIf="!rolevalid" end>
      <button ion-button icon-only [navPush]="historyreward">
        <ion-icon name="clock"></ion-icon>
      </button>
    </ion-buttons>
    

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngIf="!rolevalid">
    <h1 text-center>
      point : {{infoprofile.point}}
    </h1>
  </ion-item>

  <ion-card *ngFor="let list of rewardlist">
      <img style="width:50%" center src="assets/gambar/{{list.gambar}}"/>
      <ion-card-content>
        <ion-card-title>
          <ion-row>
            <ion-col>
              {{list.jenis}}
            </ion-col>
            <ion-col>
              {{list.harga}}
            </ion-col>
          </ion-row>
          
        </ion-card-title>
        <ion-row *ngFor="let item of list.nama_barang">
          <ion-col col-6>
            {{item.nama_barang}}
          </ion-col>
          <ion-col col-3>
            <button ion-button icon-start clear item-end (click)="onDelete(item.id)">
              <ion-icon name="trash" ></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        

        <ion-item>
          <ion-buttons *ngIf="rolevalid" end>
            <button ion-button icon-only (click)="addReward(list.id_reward)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
          <button *ngIf="!rolevalid" ion-button icon-start clear item-end (click)="onSubmit(list.id_reward , list.harga , infoprofile.point)">
            <ion-icon name="cart"></ion-icon>
            Buy
          </button>
        </ion-item>

      </ion-card-content>
    </ion-card>



    


    <ion-item>
      <button ion-button color="primary" block navPop>Back</button>
    </ion-item>
</ion-content>
