<!--
  Generated template for the ClubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Club</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div class="profil-container" *ngFor="let list of infoclub">
      <div style="display:flex; align-self:flex-end; margin-right:5px">
        <button *ngIf="rolevalid" ion-button outline round color="light" icon-end item-end (click)="edit()">
          edit
        </button>
      </div>
  
      <img class="dp-container" src="../../assets/imgs/piranha.png" />
      <h1>Piranha Tegal</h1>
      <p text-center>{{list.clubinfo}}</p>
    </div>
  
  
    <div *ngIf="rolevalid">
      <div class="card" *ngFor="let atlet of userlist index as i">
        <div class="list" (click)="infoatlet(atlet.id)">
          <div class="nama-container" style="flex:1">
            <div class="nama">
              {{atlet.nama}}
            </div>
          </div>
          <div class="centering" style="flex:1">
            <button ion-button icon-start clear item-end>
              <ion-icon name="list-box"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <button *ngIf="rolevalid" ion-button color="primary" outline round default (click)="logout()">Log Out</button>
    </div>
  
  
  </ion-content>