<!--
  Generated template for the HistoryAtletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>History</ion-title>
    <ion-buttons end *ngIf="rolevalid">
      <button ion-button icon-only [navPush]="addTaskPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="rolevalid">
    <div class="card" *ngFor="let atlet of userlist index as i">
      <div class="list" (click)="infoatlet(atlet.id)">
        <div class="nama-container" style="flex:0.5">
          <div class="rank">
            {{i+1}}
          </div>
        </div>
        <div class="nama-container" style="flex:3">
          <div class="nama">
            {{atlet.nama}}
          </div>
        </div>
        <div class="centering" style="flex:3">
          <button ion-button icon-start clear item-end>
            <ion-icon name="list-box"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="!rolevalid">
    <div class="card" *ngFor="let list of listlatihanlengkap">
      <div class="list">
        <div class="date-container" style="flex:1">
          <div class="tanggal">
            {{list.date}}
          </div>
          <div class="bulan-tahun">
            {{list.month}}
            {{list.year}}
          </div>
        </div>
        <div class="centering" style="flex:3">
          <div class="gaya">{{list.jarak}}m - Gaya {{list.nama_gaya}}</div>
          <div class="waktu">
            <ion-icon name="time"></ion-icon>
            {{list.waktu}}
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>